<h2>Search Books</h2>
<div>
  <form action="/books" method="GET">
    <div>
      <label>Title</label>
      <input type="text" name="title" value="<%= searchOptions.title %>">
    </div>

    <div>
      <label>Published After</label>
      <input type="date" name="publishedAfter" value="<%= searchOptions.publishedAfter %>">
    </div>

    <div>
      <label>Published Before</label>
      <input type="date" name="publishedBefore" value="<%= searchOptions.publishedBefore %>">
    </div>
    <button type="submit">Search</button>
  </form>
</div>
<br>

<div>
  <% books.forEach(book => { %>
    <% if (book.coverImagepath) { %>
      <img height="150" width="100" src="<%= book.coverImagepath %>" alt="Book Cover">
    <% } else { %>
      <p>No cover image available</p>
    <% } %>
  <% }); %>
</div>
