<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Prevent the style Load error by loading the styles first befor loading page -->
    <link href="https://unpkg.com/filepond@^4/dist/filepond.css" rel="stylesheet" />
   <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet" />
   
    <!-- 0.initializing FILE POND -->

    <script defer src="https://unpkg.com/filepond@^4/dist/filepond.js"></script>
    <!-- END -->

   <!-- Adding Plugins  -->
           <!-- 1.File Encode -->

             <script defer src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
           <!-- end -->

           <!-- 2.Image Resize  -->

              <script defer src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
           <!-- end -->

           <!-- 3.Image Preview -->
            

              <script defer src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
           

            <!--lastly, Needed js -->
            <script defer src="/javascripts/fileUpload.js"> </script>
            <!-- end  -->



    <title>My-Brady</title>
</head>
<body>



<br>
<%- include('../Partials/header') %>
<%- include('../Partials/errorMessage') %>
<%-body%>
<br>

</body>
</html>